<!DOCTYPE html>
<html>

<head lang="en">

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = new io.connect('');



        function sendMsg() {
            var msg = document.getElementById('msg').value;
            socket.emit("sendMsg", '123456', msg);
        }



        socket.on("getMsg", function(topic, name) {

            alert(topic + "?>>>>>" + name);
        });
        socket.on("COM", function(msf) {

            alert(msf);

        });
    </script>
</head>

<body>
    <input id="msg">
    <button onclick="sendMsg()">发送消息</button>




</body>

</html>
